.container {
    padding: 2.4rem;
    border-radius: 1.2rem;
    border: 1px solid var(--standard-border);
    box-shadow: var(--shadow-container);
}

.titulo {
    font-size: 1.8rem;
    color: var(--main-text);
    margin-bottom: 1.6rem;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-height: 50dvh;
    overflow-y: auto;
    padding-right: 0.8rem;
}

.emptyMessage {
    color: var(--secondary-text);
    font-size: 1.4rem;
}

.lista::-webkit-scrollbar {
    width: 0.6rem;
}

.lista::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 1rem;
}

.lista::-webkit-scrollbar-thumb {
    background-color: var(--standard-border);
    border-radius: 1rem;
    border: 1px solid transparent;
}

.lista::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--standard-border);
    border-radius: 8px;
    transition: transform 0.2s;
}

.item:hover {
    transform: translateX(4px);
    border-color: var(--primary-color);
}

.infoEsquerda {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nome {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--main-text);
}

.dataCategoriaWrapped {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;


    color: var(--secondary-text);
}

.categoria {
    font-size: 1.2rem;
}

.separador {
    font-size: 1rem;
}

.data {
    font-variant-numeric: tabular-nums;
}

.infoDireita {
    display: flex;
    align-items: center;
    gap: 16px;
}

.valorReceita {
    color: var(--text-income);
    font-weight: 600;
    font-size: 1.6rem;
}

.valorDespesa {
    color: var(--text-expense);
    font-weight: 600;
    font-size: 1.6rem;
}

.btnExcluir {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 100%;
    color: var(--secondary-text);
    transition: background 0.2s;
}

.btnExcluir:hover {
    background-color: var(--bg-expense);
}

/* MODAL */

.modalOverlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.modal {
    background: var(--background);

    width: 90%;
    max-width: 500px;

    padding: 2.4rem;
    border-radius: 1.2rem;

    border: 1px solid var(--standard-border);
    box-shadow: var(--shadow-container);
}

.modalTitulo {
    font-size: 2rem;
    color: var(--main-text);
    margin-bottom: 1.2rem;
}

.modalTexto {
    font-size: 1.4rem;
    color: var(--secondary-text);
    line-height: 1.5;

    margin-bottom: 2rem;
}

.modalButtons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 0.8rem;
}

.btnConfirmar,
.btnCancelar {
    flex: 1;
    cursor: pointer;

    padding: 1.4rem;
    border-radius: 0.8rem;

    font-size: 1.6rem;
    font-weight: 600;

    transition: all 0.2s;
}

.btnConfirmar {
    border: none;
    background-color: var(--primary-color);
    color: var(--inverted-text);
}

.btnCancelar {
    background-color: transparent;
    border: 1px solid var(--standard-border);
    color: var(--secondary-text);
}

.btnCancelar:hover {
    background-color: var(--standard-border);
}

.btnConfirmar:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}