.header {
    height: 8rem;
    border-bottom: 1px solid var(--standard-border);
}

.headerWrapped {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    width: 10rem;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menuItem {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 1.6rem;
    font-weight: 500;
}

.menuItemActive {
    color: var(--primary-color);
}

.accountMenu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.button {
    height: 4rem;
    width: 4rem;
    border: none;
    background: none;
    cursor: pointer;
}

.themeToggleBtn {
    color: var(--secondary-text);
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsAccountMenu {
    font-size: 2rem;
    color: var(--secondary-text);

    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarFallback {
    width: 4rem;
    height: 4rem;

    border-radius: 50%;

    background: var(--primary-color);

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: 700;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .header {
        padding: 0 2rem;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 8rem;
    }
}