.appContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.consumoInsightsWrapped {
    display: flex;
    gap: 2.4rem;
    align-items: start;
}

@media (max-width: 1024px) {
    .appContainer {
        padding: 0 3rem;
    }
}

@media (max-width: 768px) {
    .consumoInsightsWrapped {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .appContainer {
        gap: 1.5rem;
    }
}